a {
  text-decoration: none;
}

.HomeParentContainer {
  width: 100%;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0;

  .sidebar {
    padding-top: 2vh;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    box-sizing: border-box;

    .sidebaritems {
      font-size: 2vh;
      padding: 1vh;
      cursor: pointer;
      border: 1px solid rgb(72, 72, 72);
    }
  }
  .mainbodycontainer {
    overflow: auto;
    width: 100%;
    height: 95vh;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    padding: 1vh 2vw;
    .widgetLinkscontainer {
      display: flex;
      align-items: center;
      font-size: 2vh;
      gap: 1vw;
      margin: 1vh;
      .chips {
        padding: 0.5vh 1vw;
        border-radius: 99px;
        border: 1px solid rgb(72, 72, 72);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          border: 1px solid rgb(185, 185, 185);
        }
        a {
          .active {
            background-color: whitesmoke;
            color: black;
          }
        }
      }
    }
    .widgetContainer {
      width: 100%;
      min-height: 80vh;
      background-color: rgb(37, 37, 37);
      border-radius: 2vw;
      padding: 2vh 3vw;
      box-sizing: border-box;

      .tabslinksContainer {
        display: flex;
        align-items: center;
        font-size: 2vh;
        gap: 1vw;

        .chips {
          padding: 0.5vh 1vw;
          border-radius: 99px;
          border: 1px solid rgb(72, 72, 72);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            border: 1px solid rgb(185, 185, 185);
          }
        }
      }
      .tabscontainer {
        width: 100%;
        background-color: rgb(65, 27, 27);
        height: 50vh;
      }
    }
  }
}
